.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    // border-bottom: 2px solid black;
    padding-bottom: 12px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}